h1{
    color:rgb(29, 216, 153);
}
h2{
    color: #4479e2;
}
p{
    color: #dd1919cc;
}
button{
    background-color: #025157;
    color: #fff;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background-color: #60ddf383;
}

main {
    margin-top: 85px;
    text-align: center;
  }

.header{
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    */
    /*Margin: Arriba| Derecha | Abajo | Izquierda */
    margin: 40 px 20px 0 20px;
    /*Mata los espacios que hay entee los elementos del header*/
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}


li{
    /*Hace que la lista se vea de forma horizontal y elimina las viñetas*/
    display: inline;
    margin: 0 25px 0 25px;
}

/* Se aplica el estilo a los hijos del header*/
.header > *{
    /*Hace que los elementos esten en linea y fijos*/
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    
  }

  .actions > *{
    margin: 0 10px 0 10px;
  }

  .actions a{
      color: #67b54b;
  }

  .actions button{
      color: white;
      background-color: #67b54b;
      padding: 12px;
      border-radius: 5px;
      border: 0;
  }

  .promo{
      display: flex;
      /*Tamaño que toma de la pantalla*/
      width: 70%;
      /*Margen arriba y abajo 100 | derecha e izquierda automatico*/
      margin: 100px auto;
      align-items: center;
  }
  
  .publicidad  h4{
      font-family: Cambria;
      color: #025157;
  }

  .publicidad  p{
      color: #343434;
  }

  .publicidad > form p{
      color: #025157;
  }

  .videoConteiner{
      display: flex;
      flex-direction: column;
  }