@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

body{
  background-color: #f7e2ce;
  font-family: "Open Sans", sans-serif;
}

h1{
    color: #025157;
    font-size: 60px;
    font-family: "Alegreya", serif;
    margin-bottom: 24px;
}

h2{
    color: #4479e2;
}
p{
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
  margin-top: 15px;
}

.form-publish form{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 auto;
  gap: 1em;
}

button{
    background-color: #025157;
    color: #fff;
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

main {
    margin-top: 85px;
    text-align: center;
  }

.header{
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    */
    /*Margin: Arriba| Derecha | Abajo | Izquierda */
    margin: 10px 20px 10px 20px;
    /*Mata los espacios que hay entee los elementos del header*/
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}


li{
    /*Hace que la lista se vea de forma horizontal y elimina las viñetas*/
    display: inline;
    margin: 0 25px 0 25px;
}

/* Se aplica el estilo a los hijos del header*/
.header > *{
    /*Hace que los elementos esten en linea y fijos*/
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

/* .navbar{
    width: 60%;
    text-align: center;
    color: #025157;
} */


.actions {
    width: 25%;
    text-align: right;
    font-size: 14px;
    
  }

  .actions > *{
    margin: 0 10px 0 10px;
  }

  .actions a{
      color: #67b54b;
  }

  .actions button{
      color: white;
      background-color: #67b54b;
      border-radius: 5px;
      border: 0;
      padding: 12px;
  }

  .promo{
      display: flex;
      /*Tamaño que toma de la pantalla*/
      width: 70%;
      /*Margen arriba y abajo 100 | derecha e izquierda automatico*/
      margin: 100px auto;
      align-items: center;
      /*justify-content: space-between;*/
  }
  
  .publicidad  h4{
      font-family: Cambria;
      color: #025157;
  }

  .publicidad  p{
      color: #343434;
  }

  .publicidad > form p{
      color: #025157;
  }

  .videoConteiner{
      display: flex;
      flex-direction: column;
      margin-right: 15px;
  }

  .videoConteiner img{
    width: 200px;
    margin-top: 10px;
    align-self: center;
  }

  /*Agregando el estilo del contenodr de las historias de exito*/
  .success-stories {
    /*color del fondo*/
  background-color: #a1d683;
  /*relleno del contnedor*/
  padding: 5% 15%;
  /*Propiedad flex*/
  display: flex;
  /*Los items estaran de forma horizontal y centrados*/
  align-items: center;
  /*Espacio para los items del contenedor*/
  justify-content: space-around;
}

/*Agregando el estilo para el bloque izquierdo de las historias de exito*/
.success-stories .overview {
    /**/
  flex: 2;
  /*relleno a la derecha*/
  padding-right: 100px;
}

/*Agregando el estilo para el encabezado del bloque izquierdo de las historias de exito*/
.success-stories .overview h2 {
    /*Tipo de fuente*/
  font-family: "Alegreya", serif;
  /*Tamaño de la fuente*/
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

/*Agregando el estilo para el parrafo del bloque izquierdo de las historias de exito*/
.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/*Agregando el estilo para el boton del bloque izquierdo de las historias de exito*/
.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}
/*Agregando el estilo para la imagen del bloque izquierdo de las historias de exito*/
.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

/*Agregando el estilo al contnedor de la tarjeta*/
.success-stories .stories-carousel {
  flex: 1;
}


/*Agregando estilo a la tarjeta*/
.success-stories .stories-carousel .card {
    /*Ancho maximo*/
  max-width: 370px;
  /*Porcentaje al que se dapata de pantalla*/
  width: 100%;
  /*Color de fondo*/
  background-color: #fff;
  border-radius: 10px;
}

/*Agregando estilo a las imagenes del encabezado de la tarjeta*/
.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*Agregando estilo de la etieuta figure que contiene la foto de la persona*/
.success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}

/*Agregando la posición del encabezado de la tarjeta*/
.success-stories .stories-carousel .card .card-media {
  /*Permite que el elemento se desplaze, lo que provoca superposiciones*/
  position: relative;
}

/*Agregando estilo al contenedor de la imagen de la compañia que aparece en el encabezado*/
.success-stories .stories-carousel .card .card-media .company {
    /*Permite superposición y los demás elementos no lo notan*/
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Agregando estilo a la imagen de la compañia que aparece en el encabezado*/
.success-stories .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.success-stories .stories-carousel .card .card-body,
.success-stories .stories-carousel .card .card-footer {
padding: 25px;
}

/*Agregando estilo al titulo del encabezado de la tarejta*/
.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

/*Agregando estilo al subtitulo del encabezado de la tarejta*/  
.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

/*Agregando estilo al contenedor de los resultados de la tarjeta*/
.success-stories .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

/*Agregando estilo a la imagen de los resultados*/
.success-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

/*agregando estilo al parrafo de los resultados*/
.success-stories .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

/*Agregando estilo al contenedor del pie de la tarjeta*/
.success-stories .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

/*Agregando estilo al boton del pie de la tarejta*/
.success-stories .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

/*Se define los estilos del contenedor GRID de Features*/
.features{
  background-color: #025157;
  margin: 0 auto;
  padding: 5% 10%;
  /*Se indica que se usara una rejilla de grid*/
  display: grid;
  /*Se estabecen 2  columnas automaticamente con un valor minimo de 330 y maximo 1fr*/
  grid-template-columns: repeat(2, minmax(330px,1fr));
  /*separacion de las colummnas*/
  gap: 2em;
}

/*Se define el estilo de la tarjeta de Features*/
.features .tarjeta-f{
  background-color: white;
  /*width: 100%;*/
  /*Establece bordes redondeados*/
  border-radius: 1em;
  /*Sombra del borde*/
  box-shadow: 0 0 6px rgb(247, 244, 244);
  display: flex;
  overflow: hidden;
}

/*Se define el estilo para el texto de la tarjeta Features*/
.features .tarjeta-f .texto-tarjeta-f{
  display: flex;
  flex-direction: column;
  padding: 20px 10px 30px 30px;
  width: 100%;
}


/*Se define el estilo del iconito del texto de la tarjeta Features*/
.features .tarjeta-f .texto-tarjeta-f img{
  width: 50px;
}

/*Se define el estilo para el titulo del texto de la tarjeta Features*/
.features .tarjeta-f .texto-tarjeta-f h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .tarjeta-f .texto-tarjeta-f p{
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .tarjeta-f .texto-tarjeta-f a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}


/*Se define el estilo para el contenernedor de la imagen de la tarjeta Featiures*/
.features .tarjeta-f .imagen-tarjeta-f{
  align-self: center;
  padding: 0.5em 1.5em;
  width: 40%;
  flex: 1;
  position: relative;
}

/*Se define el estilo para imagen principal de la tarjeta Features*/
.features .tarjeta-f .imagen-tarjeta-f img{
  height: 300px;
}

/* Se define el estilo de la seccion How does matcha work */
.HowWork{
  text-align: center;
  padding: 1% 7%;
}

/*Se define el estilo para el titulo de la seccion How does matcha work */
.HowWork .HowWork__titulo{
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-family: "Alegreya", serif;
  /*margin-bottom: 8px;*/
}

/*Se define el estilo para el parrafo de la seccion How does matcha work */
.HowWork .HowWork__parrafo{
    max-width: 50%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}

/*Se define el estilo para el enlace contenido en el parrafo de la seccion How does matcha work */
.HowWork .HowWork__parrafo a{
  color: #67b54b;
  text-decoration: none;
}

/* Se define el estilo para la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2em;
}

/* Se define el estilo para las tarjetas de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta{
  background-color: white;
  display: flex;
  flex-direction: column;
  /*Establece bordes redondeados*/
  border-radius: 5px;
  /*Sombra del borde*/
  box-shadow: 0 0 6px rgb(239, 243, 10);
  justify-content: center;
  align-items: center;
}

.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-encabezado {
  position: relative;
}

/* Se define el estilo para el icono de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-encabezado .card-step-icon{
  width: 25px;
  position: absolute;
  top: 20px;
  left: 25px;
}

/* Se define el estilo para la imagen principal de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .card-step-bg{
  width: 100%;
  height: 100%;
}

/*Se define el estilo del cuerpo de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-cuerpo{
  padding: 0.5em 1em;
}

/*Se define el estilo del titulo del cuerpo de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-cuerpo  h3{
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  text-align: center;
  margin-top: auto;
}

/*Se define el estilo del parrafo del cuerpo de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-cuerpo p{
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  height: 85px;
}

/*Se define el estilo del enlace del cuerpo de la tarjeta de la seccion de tarjetas de How does matcha work */
.HowWork .HowWork__tarjetas .HowWork__tarjeta .HowWork__tarjeta-cuerpo a{
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: auto;
}

.jumbotron{
  background-color: #96d178;
  text-align: center;
}

.jumbotron input{
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
}

.jumbotron p{
  color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

/* dispositivos móviles en vista viewport (vertical) */
 @media (max-width: 575px) {
   /*Cambia el color de fondo de la página*/
  /* body {
    background-color: rgb(240, 240, 169);
  } */

  /*Oculta el Menu de navegacion y las acciones*/
  /* .navbar,
  .actions {
    display: none;
  } */

  /*Sesion5-Reto1 Disminuir el tamaño del H1*/
  h1{
    font-size: 30px;
  }

  /*Sesion5-Reto2 Disminuir el margen superior del main*/
  main{
    margin-top: 80px;
  }
  
  /*Sesion5-Ej3 Cambio al ancho de la imagen capterra*/
  .banner {
    width: 100%;
  }

  /*Sesion5-Reto3 Ajustar el formulario*/
  .form-publish form{
    width: 65%;
  }
  .form-publish form > input{
    gap: 5px;
  }

   /*Sesion5-Ejemplo4 Alinear la seccion de publicidad*/
   .promo{
    flex-direction: column;
    width: 95%;
  }

  .publicidad  h4{
    font-size: 25px;
  }

  .publicidad  p{
      font-size: 15px;
      line-height: 1.5;
  }

  .videoConteiner video{
    width: 100%;
  }

  .videoConteiner img{
    width: 40%;
  }

  /*Sesion5-Reto4 alinear las tarjetas en una columna*/
  .features {
    grid-template-columns: 1fr;
  }

  .features .tarjeta-f .texto-tarjeta-f img{
    width: 30px;
  }

  /*Se define el estilo para el titulo del texto de la tarjeta Features*/
.features .tarjeta-f .texto-tarjeta-f h3{
  font-size: 16px;
}

.features .tarjeta-f .texto-tarjeta-f p{
  font-size: 14px;
}

.features .tarjeta-f .texto-tarjeta-f a{
  font-size: 14px;
}


/*Se define el estilo para el contenernedor de la imagen de la tarjeta Featiures*/
.features .tarjeta-f .imagen-tarjeta-f{
  width: 20%;
}

/*Se define el estilo para imagen principal de la tarjeta Features*/
.features .tarjeta-f .imagen-tarjeta-f img{
  height: 250px;
  /* Para que no parezca la imagen de las tarjetitas en features */
  /*display: none;*/
}

  


  
} 

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
} 

